<div class="padded-page-container">
    <div id="top-container">
        <h2 class="underlined-header">Featured Illustrations</h2>
    </div>
    <div id="snippet-container">
        <div class="illustration-snippet" *ngFor="let illustration of lastTenIllustrations">
            <div class="created-date children-center">
                <div class="month-abbr">{{illustration.featured | date:'MMM'}}</div>
                <div class="day-number">{{illustration.featured | date:'dd'}}</div>
            </div>
            <div class="text-preview">
                <div class="title-pane">{{illustration.title}}</div>
                <div class="body-pane">
                    {{illustration.body}}
                </div>
                <div class="readmore-pane">
                    <span class="read-more" [routerLink]="['/illustration', illustration._id]">Read More</span>
                </div>
            </div>
        </div>
    </div>
</div>